/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
h1{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 7em;
}

#game{
  margin-top: 3em;
  background: url("../images/board.png") no-repeat center 0px white;
  background-size: 100%;
}

#game button.xo{
  font-family: 'Rock Salt', cursive;
  background: transparent;
  width: 100%;
  height: 2.4em;
  font-size: 40px;
  text-align: left;
  border: 5px solid transparent;
  outline: none;
}

button.o:after {
  color: red;
  content: "o";
}

button.x:after {
  color: blue;
  content: "x";
}

/* Final Message */
.alert{
  background: gray;
  z-index: 9999;
  margin-left: -28px;
  width: 22.6em;
  height: 21em;
  background: rgba(30,30,30,0.5);
  position: absolute;
}

.finalMessage{
  font-size: 3em;
  height: 3em;
  font-family: 'Amatic SC', cursive;
  color: white;
  text-align: center;
}

/* iPhone 4s */
@media (max-width: 320px) {
  #game button.xo{
    margin-left: -25px;
  }
}

/* iPhone 6 and Plus - Nexus 5 */
@media (min-width: 321px) {
  #game button.xo{
    height: 1.8em;
    font-size: 60px;
  }

  .alert{
    height: 24em;
    width: 25.4em;
  }
}

/* iPhone 6 and Plus */
@media (min-width: 370px) {
  .alert{
    height: 24em;
    width: 26.5em;
  }
}

#game button.restart{
  font-family: 'Rock Salt', cursive;
  width:100%;
  margin-top: 1em;;
  font-size: 2.5em;
  color: rgba(230,230,150,1);;
  background: transparent;
  text-shadow: 1px 4px #FF0000;
}

#game button.restart:focus{
  text-shadow: 0;
}

audio {
  display: none;
}
